# 예시입니다. MOCK 데이터 끄고 DB 연동 후 테스트 할때 false --> true --> false로 수정 후 사용바랍니다.

# 주석 제거 후 사용해주세요

# NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
# NEXT_PUBLIC_API_BASE_URL=https://buyflow-system.168-110-117-4.nip.io
# API_INTERNAL_BASE_URL=http://buyflow-backend-service.buyflow.svc.cluster.# local:8080

# NEXT_PUBLIC_USE_PURCHASE_REQUEST_MOCK=false
# NEXT_PUBLIC_USE_APPROVAL_MOCK=false


# NEXT_PUBLIC_USE_DASHBOARD_MOCK=false
# NEXT_PUBLIC_USE_PRODUCT_MOCK=false
# NEXT_PUBLIC_USE_SUPPLIER_MOCK=false
# NEXT_PUBLIC_USE_WAREHOUSE_MOCK=false
# NEXT_PUBLIC_USE_PURCHASE_ORDER_MOCK=false
# NEXT_PUBLIC_USE_RECEIPT_MOCK=false
# NEXT_PUBLIC_USE_INSPECTION_MOCK=false
# NEXT_PUBLIC_USE_STOCK_MOCK=false